/*RESET */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* GENERAL */

body{
    font-family: 'Open Sans', sans-serif;
}

.flex{
    display: flex;
    flex-wrap: wrap;
}
.center{
    align-items: center;
}
img{
    width: 100%;
    display: block;
}
section:not(first-child){
    padding-top: 150px;
}

/* CONTAINER */

.big-container{
    max-width: 1200px ;
    margin: auto;
}
.small-container{
    max-width: 1000px;
    margin: auto;
}
.container-banner{
    width: 50%;
}

/* BOX-MULTI USE */

.box-30{
    width: calc(30% - 20px); 
    margin: 0px 10px;
    font-size: 16px;
}
.box-70{
    width: calc(70% - 20px);
    margin: 0px 10px;
}
.box-33{
    width: calc(100%  / 3 - 20px);
    margin: 10px;
}
.box-67{
    width: 67%;  
}
.orizzontal-33{
    width: 33%;
    
}

/* RULES BOX 30 */

.box-30 > * {
    padding-bottom: 40px;
}
.box-30 i{
    font-size: 50px;
}

/* TYPO */

h1,h2,h3,h4,h6{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
h1{
    font-size: 80px; 
}
h2{
    font-size: 40px; 
}
h3{
    font-size: 24px;
}
h4{
    display: inline-block;
    font-size: 22px;
}
h5{
    font-weight: lighter;
}

/* HEADER */

.img-header{
    position: relative;
    bottom: -60px;
}
header ul li a{
    text-decoration: none;
    list-style: none;
    color:black;
    padding: 10px;
}
header,.free-trial{
    background-color: #b4d0e7;
}
.banner{
    background-color: white; 
    position: fixed;
    padding: 0px 15px;
    width: 100vw;
    height: 80px;
    z-index: 100;
}
.left-banner{
    justify-content: flex-start;
}
.right-banner{
    justify-content: flex-end;
}

/* BUTTON */

button{
    background-color: #0061ff;
    padding: 10px 15px;
    border: none;
    color: white;
}

/* MAIN FIRST SESSION*/

.first-session ul li{
    text-decoration: none;
    list-style-type: none;
    color:black;
    padding-bottom: 15px ;
}
.first-session h6{
    font-size: 18px;
    padding: 30px 0px;
}
.first-session span{
    margin-left: -20px;  
}
.check-box{
    padding: 70px 0px 50px;
}
.main-structure{
    justify-content: space-between;
}
.first-session .box-33{
    background-color: white;
    border: 1px solid lightgray;
}
.offer{
    text-align: center;
    font-size: 16px;
    border-bottom: 1px solid lightgray;
    padding: 10px 0px;
}
.offer-information{
    padding: 20px 40px;
}
.offer-information small{
 display: block;
}
.offer-information > div{
    padding: 30px 0px;
    font-size: 16px;
}
.offer-information div > p{
    padding: 30px 0px;
}
.orizzontal-box{
    width: 100%;
    border: 1px solid lightgrey;
    margin-top: 20px;
}
.contacts{
    padding: 25px;      
}
.box-67 div {
    padding-top: 40px;
}
.box-67 > *{
    padding-bottom:20px;
}
#down-arrow{
    color: #6b6dff ;
}
.orizzontal-box .orizzontal-33{
    text-align: end;
    padding: 0px 40px;
}
.first-session .flex button{
    width: 100%;
}

/* MAIN SECOND SESSION */

.second-session .box-30{
   margin-left: 0px;
   padding: 60px 0px 0px 0px;
   margin-right: 0px; 
}
main .box-70{
    padding-right: 60px;
    margin-left: 0px;
}
main .box-30 button{
    background-color: white;
    color: black;
    border: 1px solid black;
}

/* MAIN TIRD SESSION */

.tird-session .box-33{
    border: none;
    padding:40px 0px 30px ;
}

/* MAIN FOURTH SESSION */

.fourth-session .information h2{
    padding-bottom: 70px;
}

/* MAIN FIFTH SESSION */

.column-partner{
    width: calc(100vw / 3 - 6px);
    height: calc(100vw / 3);
}
.box-partner{
    width: 50%;
    height: 50%;
   
}
.box-partner img{
   height: 100%;
   padding: 120px 80px;  
   
}

/* PARTNER PRIMA E TERZA COLONNA */
.fifth-session .box-partner img{
    filter: invert(1);
}
.designit{
    background-color: #a2d39b ;
    border:15px solid #d1e9cd;
}
.arizona{
    background-color: #61082b;  
}
.florida{
    background-color: #0093ce;    
}
.topps{
    background-color: #ff1c1c ;
}
.world-bicycle{
    background-color: red;
}
.hearst{
    background-color: #b4d0e7;
}
.lonely{
    background-color: #0d2481;
}
.clear-channel{
    background-color: #ffd830;
}

/* SECONDA COLONNA */

.second-column div{
    width: calc(100% - 66vw);
    padding-bottom: 100px ;
}
.scroll{
    overflow-y: auto;
}
.second-column{
    padding: 50px 50px 0px;  
    height: 100%;
}
.logo{
    width: 180px;
}

/* FREE TRIAL */

.free-trial button{
    align-items: flex-start ;
}
.free-trial > div{
    padding: 130px 0px;
}
.free-trial h2{
    color: #61082b ;
}

/* SIXTH SESSION */

.sixth-session p{
    font-weight: bold;
}
.sixth-session h2{
    padding-bottom: 60px;

}
.sixth-session div p a{
    text-decoration: none;
    color:black;
}
.fqa-box{
    padding: 25px 0px;
    border: 1px 0px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    position: relative;
}
.sixth-session i{
   position: absolute;
   right: 40px;
}
.sixth-session > div:last-child{
    padding-bottom:120px ;
}

/* FOOTER */

footer{
    background-color: black;
}
footer h3{
    padding-bottom: 30px;
}
.footer-column{
    width: calc(100% / 5 - 20px);
    color: white;
    margin: 10px;
}
footer .flex{
    justify-content: space-between;
    width: 100%;
}

footer div ul li a {
    color: white;
    text-decoration: none;
}
footer div ul li{
    list-style-type: none;   
    padding: 10px 0px;
}

/* BOTTOM-FOOTER */

.bottom-footer{
    padding: 30px 0px;
    border-top: 1px solid white;
    width: 15%;
}
.bottom-footer a{
    text-decoration: none;
    color:white;
}