/*RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* GENERAL */
body{
    font-family: 'Open Sans', sans-serif;
}
header ul li a{
  text-decoration: none;
  list-style: none;
  color:black;
  padding: 10px;
}
.first-session ul li{
    text-decoration: none;
    list-style-type: none;
    color:black;
    padding-bottom: 15px ;
}
.flex{
    display: flex;
    flex-wrap: wrap;
}
.center{
    align-items: center;
}
.big-container{
    max-width: 1200px ;
    margin: auto;
}
.small-container{
    max-width: 1000px;
    margin: auto;
}
.box-text{
    width: calc(30% - 20px); 
    margin: 0px 10px;
    font-size: 16px;
}
.box-text > * {
    padding-bottom: 40px;
}
.box-text i{
    font-size: 50px;
}
.box-img{
    width: calc(70% - 20px);
    margin: 0px 10px;
}
img{
    width: 100%;
    display: block;
}
.img-header{
    position: relative;
    bottom: -60px;
}
section:not(first-child){
    padding-top: 150px;
}
/* typo */
h1,h2,h3,h4,h6{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
h1{
    font-size: 80px; 
}
h2{
    font-size: 40px; 
}
h3{
    font-size: 24px;
}
h4{
    display: inline-block;
    font-size: 22px;
}
h5{
    font-weight: lighter;
}
.sixth-session p{
    font-weight: bold;
}
.first-session h6{
    font-size: 18px;
    padding: 30px 0px;
}

/* HEADER */
header,.free-trial{
    background-color: #b4d0e7;
}
.banner{
    background-color: white; 
    position: fixed;
    padding: 0px 15px;
    width: 100vw;
    height: 80px;
    z-index: 100;
}
.container-banner{
    width: 50%;
}
.left-banner{
    justify-content: flex-start;
}
.right-banner{
    justify-content: flex-end;
}

/* BUTTON */
button{
    background-color: #0061ff;
    padding: 10px 15px;
    border: none;
    color: white;
}
/* MAIN FIRST SESSION*/
.first-session span{
    margin-left: -18px;
}
.check-box{
    padding: 70px 0px 50px;
}
.vertical-main-box{
    width: calc(100%  / 3 - 20px);
    margin: 10px;
    background-color: white;
    border: 1px solid lightgray;
}
.main-structure{
    justify-content: space-between;
}
.price{
    text-align: center;
    font-size: 16px;
    border-bottom: 1px solid lightgray;
    padding: 10px 0px;
}
.price-information{
    padding: 20px 40px;
}
.price-information small{
 display: block;
}
.price-information > div{
    padding: 30px 0px;
    font-size: 16px;
}
.price-information div > p{
    padding: 30px 0px;
}
.orizzontal-main-box{
    width: 100%;
    border: 1px solid lightgrey;
    margin-top: 20px;
}
.contacts{
    padding: 25px;   
    
}
.big-orizzontal-main-box{
    width: 67%;  
}
.big-orizzontal-main-box div {
    padding-top: 40px;
}
.big-orizzontal-main-box > *{
    padding-bottom:20px;
}

.small-orizzontal-main-box{
    width: 33%;
   text-align: end;
}
/* MAIN SECOND SESSION */
.second-session .box-text{
   margin-left: 0px;
   padding: 60px 0px 0px 0px;
   margin-right: 0px;
    
}
main .box-img{
    padding-right: 60px;
    margin-left: 0px;
}
main .box-text button{
    background-color: white;
    color: black;
    border: 1px solid black;
}
/* MAIN TIRD SESSION */

.tird-session .vertical-main-box{
    border: none;
    padding:40px 0px 30px ;
}
/* MAIN FOURTH SESSION */
.fourth-session .information h2{
    padding-bottom: 70px;
}
/* MAIN FIFTH SESSION */
.column-partner{
    width: calc(100vw / 3 - 6px);
    height: calc(100vw / 3);
}
.box-partner{
    width: 50%;
    height: 50%;
}
.box-partner img{
   height: 100%;
   padding: 0px 80px;  
}

/* PARTNER PRIMA E TERZA COLONNA */
.designit{
    background-color: #a2d39b ;
    border:15px solid #d1e9cd;
}
.arizona{
    background-color: #61082b;  
}
.florida{
    background-color: #0093ce;    
}
.fix-padding{
   padding: 140px 80px !important;
}
.topps{
    background-color: #ff1c1c ;
}
.world-bicycle{
    background-color: red;
}
.hearst{
    background-color: #b4d0e7;
}
.lonely{
    background-color: #0d2481;
}
.clear-channel{
    background-color: #ffd830;
}

/* SECONDA COLONNA */
.second-column div{
    width: calc(100% - 66vw);
    padding-bottom: 100px ;
}
.scroll{
    overflow-y: auto;
}
.second-column{
    padding: 50px;  
}
.logo{
    width: 180px;
}
/* FREE TRIAL */
.free-trial button{
    align-items: flex-start ;
}
.free-trial > div{
    padding: 130px 0px;
}
.free-trial h2{
    color: #61082b ;
}
/* SIXTH SESSION */
.sixth-session h2{
    padding-bottom: 60px;

}
.sixth-session div p a{
    text-decoration: none;
    color:black;
}
.fqa-box{
    padding: 25px 0px;
    border: 1px 0px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    position: relative;
}
.sixth-session i{
   position: absolute;
   right: 40px;
}
.sixth-session > div:last-child{
    padding-bottom:120px ;
}
/* FOOTER */
footer{
    background-color: black;
}
footer h3{
    padding-bottom: 30px;
}
.footer-column{
    width: calc(100% / 5 - 20px);
    color: white;
    margin: 10px;
}
footer .flex{
    justify-content: space-between;
    width: 100%;
}

footer div ul li a {
    color: white;
    text-decoration: none;
}
footer div ul li{
    list-style-type: none;   
    padding: 10px 0px;
}
/* BOTTOM-FOOTER */
.bottom-footer{
    padding: 30px 0px;
    border-top: 1px solid white;
    width: 15%;
}
.bottom-footer a{
    text-decoration: none;
    color:white;
}