/*RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* GENERAL */
body{
    font-family: 'Open Sans', sans-serif;
}
ul li a, ul li{
  text-decoration: none;
  list-style: none;
  color:black;
  padding: 10px;
}
.flex{
    display: flex;
    flex-wrap: wrap;
}
.center{
    align-items: center;
}
.big-container{
    max-width: 1200px ;
    margin: auto;
}
.small-container{
    max-width: 1000px;
    margin: auto;
}
.box-text{
    width: calc(30% - 20px); 
    margin: 0px 10px;
    font-size: 16px;
}
.box-text > * {
    padding-bottom: 40px;
}
.box-text i{
    font-size: 50px;
}
.box-img{
    width: calc(70% - 20px);
    margin: 0px 10px;
}
img{
    width: 100%;
    display: block;
  
}
.img-header{
    position: relative;
    bottom: -60px;
}
/* typo */
h1,h2,h3,h4,h6{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
h1{
    font-size: 80px; 
}
h2{
    font-size: 40px; 
}
h4{
    display: inline-block;
    font-size: 22px;
}
h5{
    font-weight: lighter;
}

/* HEADER */
header{
    background-color: #b4d0e7;
}
.banner{
    background-color: white; 
    position: fixed;
    padding: 0px 15px;
    width: 100%;
    height: 80px;
    z-index: 100;
}
.container-banner{
    width: 50%;
}
.left-banner{
    justify-content: flex-start;
}
.right-banner{
    justify-content: flex-end;
}

/* BOTTOM-HEADER */
.section-space{
    padding-top: 150px;
}

/* BUTTON */
button{
    background-color: #0061ff;
    padding: 10px 15px;
    border: none;
    color: white;
}
/* MAIN FIRST PART*/

.check-box{
    padding: 70px 0px 50px;
}
.vertical-main-box{
    width: calc(100%  / 3 - 30px);
    margin: 15px;
    background-color: white;
    padding: 0px 20px;
    border: 1px solid lightgray;
}
.main-structure{
    justify-content: space-between;
}
.price{
    text-align: center;
    font-size: 16px;
    border-bottom: 1px solid lightgray;
    padding: 10px 0px;
}
.price-information small{
 display: block;
}
.price-information > div{
    padding: 30px 0px;
    font-size: 16px;
}
.price-information div > p{
    padding: 30px 0px;
}
.orizzontal-main-box{
    width: 100%;
    border: 1px solid lightgrey;
}
.contacts{
    padding: 25px;   
    
}
.big-orizzontal-main-box{
    width: 67%;  
}
.big-orizzontal-main-box div {
    padding-top: 40px;
}
.big-orizzontal-main-box > *{
    padding-bottom: 20px;
}

.small-orizzontal-main-box{
    width: 33%;
   text-align: end;
}
/* MAIN SECOND PART */
main .box-text{
   margin-left: 0px;
   padding: 60px 0px 0px 0px;
   margin-right: 0px;
    
}
main .box-img{
    padding-right: 60px;
    margin-left: 0px;
}
main .box-text button{
    background-color: white;
    color: black;
    border: 1px solid black;
}
/* TIRD PART */
main .vertical-main-box div > *{
    padding-bottom: 30px;
}
main .vertical-main-box{
    border: none;
    padding-top:40px ;
}